.sidebar-btn {
  background-color: var(--twitter-color);
  width: 100%;
  color: white;
  font-weight: 900;
  text-transform: inherit;
  border: none;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.sidebar-btn:hover {
  opacity: 0.9;
}
