.feeds {
  flex: 0.4;
  border-right: 1px solid var(--twitter-bg-color);
  min-width: fit-content;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.feeds::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Firefox */
.feeds {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feeds-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
  border: 1px solid var(--twitter-bg-color);
  padding: 15px 20px;
}
.feeds-header h2 {
  font-size: 20px;
  font-weight: 800;
}
