.sidebar {
  border-right: 1px solid var(--twitter-bg-color);
  flex: 0.3;
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.sidebar-twitter-icon {
  color: var(--twitter-color);
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
